@use 'variables';

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .left {
    width: 8%;
  }

  .right {
    width: 92%;
  }
}

.viewButton {
  background: variables.$orange;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  color: white;

  &:hover {
    box-shadow: variables.$shadow;
  }
}
