.mainContent {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(20px);

  .container {
    padding: 40px 0;
    width: 80%;
    /* background-color: lightgray; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      flex: 2;

      .mainCard {
        background: #33cccc;
        padding: 20px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);

        h1 {
          font-weight: 700;
          margin-bottom: 10px;
        }

        p {
          font-weight: 300;
          font-size: 0.9rem;
          // color: black;
        }
      }

      .featuresSection {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        h2 {
          font-weight: 700;
        }

        .features {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;

          .feature {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            border: 0.5px solid lightgray;
            padding: 20px;
            background-color: white;
            width: 25%;
            text-align: justify;

            &:hover {
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

            p {
              font-weight: 600;
              color: blueviolet;
            }
          }
        }
      }

      .moreInfo {
        margin-top: 30px;

        h2 {
          font-weight: 700;
        }

        p {
          margin-top: 10px;
          font-weight: 300;
          font-size: 1.2rem;
        }
      }
    }

    .right {
      flex: 1;
      border-radius: 20px;
      margin-left: 30px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}
