@use 'variables';

.home {
  background: #fff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 90%;

  .featuredCards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;

    .card {
      width: 20%;
      border-radius: 20px;
      padding: 20px;
      background: #f6f2f2;
      text-align: center;
      height: 130px;

      .title {
        font-weight: 700;
        font-size: 1.1rem;
      }

      .subtitle {
        margin-top: 5px;
        color: #797979;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .details {
        p {
          font-size: 3rem;
          font-weight: 700;
          color: variables.$green;
        }

        div {
          color: gray;
        }
      }
    }

    .newCard {
      width: 45%;
      border-radius: 20px;
      padding: 20px;
      background: #f6f2f2;
    }
  }

  .table {
    background: #f6f2f2;
    width: 100%;
    border-radius: 20px;
    padding: 20px;

    .title {
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 15px;
    }

    .datagrid {
      height: 300px;
      border-radius: 20px;
    }
  }
}

.special {
  cursor: pointer;

  &:hover {
    box-shadow: variables.$shadow;
  }
}