@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
* {
  font-family: 'Poppins', sans-serif;

}
.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navc{
  margin-left: 16rem;
}
.navi{
  width: 10%;
  height: 10%;
}
.nText{
  font-size: 20px;
}
.bg{
  background-color: #F5F5F5;
}
.card{
  background-color: #fff;
  margin: 2rem;
}
.de{
  border: solid red 1px;
}
.cardtitle{
text-align: center;
margin-top: 2rem;
}
.cardUser{
  margin: 2rem;
}
.cbtn{
  font-weight: bold;
  margin-top: 1rem;
  display: flex;
  justify-content:center ;
  align-items: center;
  height: 3rem;
  border: #91BF76;
  background-color: #91BF76;
  width: 10rem;
}
