* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: blueviolet;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.app {
  position: relative;
  /* background-image: url('https://thumbs.dreamstime.com/z/f-177219365.jpg'); */
  /* background-image: url('https://media.istockphoto.com/id/1365379675/vector/doctors-examining-human-lungs-respiratory-system-examination-and-treatment-pulmonology.jpg?s=612x612&w=0&k=20&c=q4fAKXPFs3EnDwrEXP7ZwoQKBieg5GL2AdJwTw_AGi8='); */
  background: rgb(242, 242, 242);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  height: 100%;
}
