.patient {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 90%;
    
    .title {
      font-size: 2rem;
      color: gray;
      margin-bottom: 15px;
    }

    .datagrid {
      height: 500px;
      border-radius: 20px;
    }
  }
}